/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}
.header {
    height: 95vh;
    background-image:  linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgb(40, 180, 131, 0.8)),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}
.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo{
    height: 35px;
}
.text-box{
    position: absolute;
    top: 40%; /*related to parent*/
    left: 50%; /*related to parent*/
    transform: translate(-50%, -50%); /*does not depends on parent element. centers the text-box*/
    text-align: center; /*alines button in middle */
}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden; /*stops animation shaking. hides the background*/
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation: moveInLeft 1s 0.5s ease-out; /*name,duration,animation delay,animation-timing-function*/

    /*
    animation-iteration-count: 3; // 3 times

    */
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;
    margin-bottom: 60px;
    animation: moveInRight 1s 0.5s ease-out;
}

/*@keyframe animation*/
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); /*starts 100px left*/
    }
    80% {
        transform: translateX(10px); /*moves 10 px right*/
    }
    100% {
        opacity: 1;
        transform: translate(0); /*returns to original state*/
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/*pseudo class(special state)*/
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s; /*transition have to be in initial state*/
    position: relative; /*because of .btn::after is the child*/
}
.btn:hover {
    transform: translateY(-3px); /*moves up. y axis goes top to bottom thats why -*/
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /*x value, y value, blur, color with opacity*/
}
.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
    background-color: #fff;
    color: #777;
}
.btn::after {
    content: ""; /*must have property*/
    display: inline-block; /*must have property*/
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /*behind the button*/
    transition: all .4s; /*parent class of .btn:hover::after*/
}
.btn-white::after {
    background-color: #fff;
}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6); /*scale increases the element*/
    opacity: 0;
}
.btn-animated {
    animation: moveInBottom 0.5s ease-out .75s;
    animation-fill-mode: backwards;/*affects animation style before it starts*/
}
